html {
  scroll-behavior: smooth;
}

body,
h1,
h2 {
  color: #002627 !important;
}

img {
    pointer-events: none;
}

hr {
  border-top: 1px solid rgba(0, 38, 39, 0.1) !important;
}

footer {
  display: flex;
  align-items: center;
  color: #00aa55;
  height: 4rem;
  padding: 1.25rem 0 1.75rem 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  max-width: 30%;
  min-width: 210px;
}

#contact,
.contact-form h1,
.navbar-collapse.ml-auto.text-right.collapse {
  color: #00aa55 !important;
}

#logo {
  width: 90%;
  height: auto;
}

#jumbotron {
  background-color: rgba(0, 170, 85, 0.5);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #00aa55;
}

nav .navbar-nav li a:hover {
  color: #002627 !important;
}

nav .navbar-nav li a {
  color: #00aa55 !important;
  font-size: 1.2rem;
  font-weight: 700;
}

.img-small {
  width: 80% !important;
  align-self: center;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,170,85, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler.navbar-toggler {
  border-color: rgb(0, 170, 85) !important;
}

.btn-outline-secondary {
  color: #00aa55 !important;
  border-color: #00aa55 !important;
}

.btn-outline-secondary:hover {
  color: rgba(0, 170, 85, 0.6) !important;
  background-color: transparent !important;
  border-color: rgba(0, 170, 85, 0.6) !important;
}

.bg-black {
  background-color: #000000 !important;
}

.h-custom {
  height: 70px;
}

/* Back to top btn - start */
#topBtn {
  width: 60px;
  height: 60px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 9999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-image: url("../../resources/images/back_to_top_btn/back_to_the_top.png"); /* Set a background color */
  background-size: 100%;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-image: url("../../resources/images/back_to_top_btn/back_to_the_top_hover.png");
  opacity: 100%;
}
/* Back to top btn - end */

/* Header - start */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00aa55;
  opacity: 0.1;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("../images/Paintball Team Outsiders - poster.jpg") black
      no-repeat center center scroll;
  }
}
/* Header - end */